{% extends 'base.html'  %}  
{% block head  %} 
   <title>Exercise 2 Demo</title>
{% endblock %}

{% block body  %} 
        <h1> AC295 Practium 1 Team Anonymous  </h1>
        Get Similar Image by uploading an image: 
        <form action="/SimilarImage" method="POST" enctype="multipart/form-data">
            <input type="file" name="image_file" id="image_id" accept="image/*"> <br><br>
	    <label for="method">Choose a similarity method:</label>
            <select name="method" id="method">
            <option value="cosine similarity">cosine similarity</option>
            <option value="cosine similarity using autoencoder">cosine similarity using autoencoder</option>
            </select> <br><br>
            <input type="submit" value="Upload Image">
        </form>

{% endblock %}
